<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Dodgy Shopper</title>
  <meta name="author" content="aa9863@coventry.ac.uk">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <h1>Dodgy YAML Shopper</h1> 

    <p>Buy Widgets and Stuff</p>
  
    <h2>Shopping Basket</h2>

    <table class="table">
      <thead>
	<tr>
	  <th>Item</th>
	  <th>Cost</th>
	  <th>Quantity</th>
	  <th>Total Cost</th>
	</te>
      </thead>
      <tbody>
	{% for item in theList.shoppingList %}
	<tr>
	  <td>{{item.name}}</td>
	  <td>£{{item.cost}}</td>
	  <td>{{item.number}}</td>
	  <td>£{{ item.cost * item.number}}</td>
	</tr>
	{% endfor %}

	<tr>
	  <td><em>TOTAL</td>
	  <td></td>
	  <td></td>
	  <td><b>£{{theList.calcCost()}}</b></td>
      </tbody>
    </table>
  
    <ul>
      <li>
	<a href="save">Save Basket</a>
      </li>
      <li>
	<a href="load">Load Saved Basket</a>
      </li>
    </ul>

    <a class="btn btn-primary" href="pay">Pay</a> 
  </div>
</body>
</html>
