<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Dodgy Shopper</title>
  <meta name="author" content="aa9863@coventry.ac.uk">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
  <div class="container">
    <a href="/">
      <h1>Dodgy PICKLE Shopper</h1>
      <p>Back to Home</p>
    </a>
    
    <p>Buy Widgets and Stuff</p>
    
    <h2>PAY FOR STUFF</h2>

    {% if cost > 0 %}
    <h3>You Owe £{{ cost }}</h3>
    <form>
      <div class="form-group">
	<label for="exampleInputEmail1">Credit Card Number</label>
	<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
	<small id="emailHelp" class="form-text text-muted"></small>
      </div>
      <button class="btn btn-primary">Pay Dan</button>
    </form>
    
    {% else %}
    <div class="alert alert-success">You Win,  Have a flag CUEH{M@nual_P1kl_Mods}</div>
    {% endif %}
    
  </div>
  </body>
</html>


    
